@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #002F36; 
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.x-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #0b0e0e;
  border: 1px solid transparent;
  border-radius: 100px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-family: MaisonNeueBold, sans-serif;
  font-weight: 600;
  height: 42px;
  outline: none;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-transform: none;
  width: 100%;
}

.x-button--white {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  color: #0b0e0e;
}

.x-button--large {
  font-size: 1.37712rem;
  height: 70px;
}

.comma-background--black {
  width: 100%;
  height: 92vh;
  min-width: 100%;
  background: #101010; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #181818, #101010); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #181818,
    #101010
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.x-header {
  width: 100%;
  height: 8vh;
  position:fixed;
  top:0;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:99999;
}

.navbar-space {
  width:100vw;
  height: 8vh;
}

.comma-logo {
  width: 35px;
  height: auto;
  min-width: 35px;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.b1 {
  background: yellow;
}
.b2 {
  background: #ffd700;
}
.b3 {
  background: #ffa500;
}

.b4 {
  background: #ff8c00;
}

.b5 {
  background: #ff5032;
}

.b6 {
  background: #ff3a19;
}

.b7 {
  background: #ff2500;
}

.b8 {
  background: #e52100;
}

.b9 {
  background: #cc1d00;
}

.b10 {
  background: #b21900;
}

.header-pic {
  width:100%;
  height:30%;
  background:black;
}

.container {
  width:100%;
  height:92vh;
  background:grey;
}

.card-overlay {
  width: 100%;
  height: 92vh;
  background: rgba(0, 0, 0, 0.5);
}

.chill-container {
  width:100%;
  height:50vh;
  display:flex;
}

.card-overlay-50 {
  width: 50%;
  height: 100%;
}

.chill-p {
  text-align: center;
  margin-top:80px;
}

.title {
  font-size: xx-large;
}

.p {
  font-size: medium;
}

.main-navigation {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}





@keyframes ldio-inawj1mgkxk {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-inawj1mgkxk div {
  position: absolute;
  width: 136px;
  height: 136px;
  border: 4px solid #b30000;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-inawj1mgkxk div {
  animation: ldio-inawj1mgkxk 1.1363636363636362s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-k8fitpcp7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-inawj1mgkxk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-inawj1mgkxk div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.center-me-auth0 {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  flex-direction: column;
}

.img-size-big {
  width:80%;
  height:auto;
  margin-bottom: 100px;
}

.img-size-nav {
  width:auto;
  height:60%;
}

.slick-button {
  text-decoration: none;
  font-size: 16px;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */